<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Authors List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">-</td>
        <td th:text="${author.firstName}">-</td>
        <td th:text="${author.lastName}">-</td>
    </tr>
</table>
</body>
</html>